<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ALL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%white(%d{HH:mm:ss.SSS}) %highlight(%-5level) [%10.10thread] %cyan(%logger{0}): %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="ALL"/>
    </root>
</configuration>