<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests" thread-count="${app.threadCount}">
    <test name="CreateUserTest">
        <classes>
            <class name="player.test.CreateUserTest"/>
        </classes>
    </test>
    <test name="DeleteUserTest">
        <classes>
            <class name="player.test.DeleteUserTest"/>
        </classes>
    </test>
    <test name="GetUserTest">
        <classes>
            <class name="player.test.GetUserTest"/>
        </classes>
    </test>
    <test name="UpdateUserTest">
        <classes>
            <class name="player.test.UpdateUserTest"/>
        </classes>
    </test>
</suite>